In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/multimedia.txt", sep='\t')
df.describe()

,gbifID,references,title,description,source,audience,created,creator,contributor,publisher,license,rightsHolder
count,4.922390e+05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.965167e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.612677e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.846727e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.846882e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.847044e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.847199e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.542810e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.head()

,gbifID,type,format,identifier,references,title,description,source,audience,created,creator,contributor,publisher,license,rightsHolder
0,1846726645,StillImage,image/jpeg,https://bugguide.net/images/cache/WRL/QAR/WRLQ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1846726650,StillImage,image/jpeg,https://bugguide.net/images/cache/1LI/ZCL/1LIZ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1846726655,StillImage,image/jpeg,https://bugguide.net/images/cache/SR3/ZIR/SR3Z...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1846726660,StillImage,image/jpeg,https://bugguide.net/images/cache/AK4/KOK/AK4K...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1846726665,StillImage,image/jpeg,https://bugguide.net/images/cache/NQZ/SBQ/NQZS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.filter(items = ["gbifID","identifier"])

In [5]:
oc_df = pd.read_csv("./data/occurrence.txt", sep='\t')

In [6]:
oc_df = oc_df.filter(items=["gbifID","scientificName","vernacularName"])

In [7]:
oc_df[oc_df.vernacularName.notnull()]

,gbifID,scientificName,vernacularName
0,1846946471,"Haploa lecontei Boisduval, 1829",Leconte's Haploa
1,1846948963,"Vanessa atalanta (Linnaeus, 1758)",Red Admiral
2,1847121945,"Epipaschia superatalis Clemens, 1860",Dimorphic Macalla
3,1846757788,"Papilio cresphontes Cramer, 1777",Eastern Giant Swallowtail
8,1846727740,"Erynnis telemachus Burns, 1960",Rocky Mountain Duskywing
...,...,...,...
492234,1846966044,"Pityobius anguinus LeConte, 1853",Bipectinate Click Beetle
492235,1846741581,"Gelastocoris oculatus (Fabricius, 1798)",Big-Eyed Toad Bug
492236,1846921745,"Vanessa atalanta (Linnaeus, 1758)",Red Admiral
492237,1846937660,"Eurois occulta (Linnaeus, 1758)",Great Brocade
492238,1847094872,"Euchlaena obtusaria Hübner, 1809-1813",Obtuse Euchlaena

In [8]:
new_df = df.merge(oc_df, on="gbifID", how='left')

In [9]:
new_df = new_df[new_df.vernacularName.notnull()]

In [10]:
new_df = new_df.reset_index()

In [11]:
image_df = new_df[new_df["vernacularName"].map(new_df["vernacularName"].value_counts()) >= 100].reset_index()

In [12]:
image_df = image_df.filter(items=["gbifID","vernacularName","identifier"])

In [13]:
temp = image_df.groupby("vernacularName")
df_list  = [temp.get_group(x)[:20] for x in temp.groups]

In [14]:
image_subset = pd.concat(df_list).reset_index()

In [15]:
image_subset = image_subset.drop(columns=["index"])
image_subset

,gbifID,vernacularName,identifier
0,1846740155,(Eastern) black carpenter ant,https://bugguide.net/images/cache/PHZ/RUH/PHZR...
1,1846740225,(Eastern) black carpenter ant,https://bugguide.net/images/cache/MHT/HGH/MHTH...
2,1846740240,(Eastern) black carpenter ant,https://bugguide.net/images/cache/EKK/K9K/EKKK...
3,1846794735,(Eastern) black carpenter ant,https://bugguide.net/images/cache/D0G/QV0/D0GQ...
4,1846949895,(Eastern) black carpenter ant,https://bugguide.net/images/cache/5ZQ/L2Z/5ZQL...
...,...,...,...
20935,1847230805,ferruginous carpenter ant,https://bugguide.net/images/cache/GLU/ZML/GLUZ...
20936,1847230810,ferruginous carpenter ant,https://bugguide.net/images/cache/LSW/QF0/LSWQ...
20937,1847230815,ferruginous carpenter ant,https://bugguide.net/images/cache/DL0/ZVL/DL0Z...
20938,1847230820,ferruginous carpenter ant,https://bugguide.net/images/cache/QH5/RHH/QH5R...
20939,1847230830,ferruginous carpenter ant,https://bugguide.net/images/cache/H0U/0Q0/H0U0...

In [16]:
def replaceSpaces(name):
    return name.replace(" ", "_")

In [25]:
import requests
import os
def download(row):
    url = row["identifier"]
    id = row["gbifID"]
    name = row["vernacularName"]
    path = f'/home/chavez/Desktop/Software/Projects/BugDiversity/ml/images/{name}'
    img_data = requests.get(url).content
    if not  os.path.exists(path):
        os.makedirs(path)
    with open(f'/home/chavez/Desktop/Software/Projects/BugDiversity/ml/images/{name}/{id}.jpg', 'wb') as handler:
        handler.write(img_data)

In [73]:
image_subset = pd.read_csv("image_subset.csv")

In [74]:
image_subset = image_subset[19067:]

In [75]:
image_subset.apply(download, axis =1)

19067    None
19068    None
19069    None
19070    None
19071    None
         ...
20935    None
20936    None
20937    None
20938    None
20939    None
Length: 1873, dtype: object